/* Global Styles */
/* Variables */
html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  color: #222222;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p {
  padding-bottom: 1rem;
}
p:last-child {
  padding-bottom: 0;
}

a {
  border-bottom: 2px solid #AA00FF;
  color: #AA00FF;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #8000BF;
}

/* Header */
/* Mixins */
.top-bar {
  border-bottom: 1px solid #CCCCCC;
  padding: 0.5rem 1rem;
}
.top-bar .home-link {
  display: inline-block;
}
.top-bar .home-link a {
  border-bottom: none;
  color: #222222;
  font-weight: 900;
}
.top-bar nav {
  display: inline-block;
  float: right;
}
.top-bar nav ul li {
  display: inline;
  padding-left: 2.5rem;
}
.top-bar nav ul li a {
  border-bottom: none;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* Landing Page Styles */
/* Set Max Width */
.ux-designer,
.portfolio {
  margin: 0 auto;
  max-width: 25rem;
}

/* About Me */
.ux-designer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
}
.ux-designer .headshot {
  background-image: url(../img/alex-crop-2024-500.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
  height: 7.5rem;
  width: 7.5rem;
}
.ux-designer .statement h1 {
  font-size: 20px;
  font-size: 1.25rem;
}
.ux-designer .statement h1 .embolden {
  font-weight: 700;
}
.ux-designer .statement h1 .emphasize {
  text-decoration: line-through;
  text-decoration-color: #01579B;
}

/* Logo Belt */
.logo-belt {
  background-color: #F5F5F5;
  color: #01579B;
  font-weight: 700;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.logo-belt ul {
  height: 1.5rem;
}
.logo-belt ul li {
  display: inline;
  padding: 0 1.25rem;
}
.logo-belt #logo-label {
  line-height: 2rem;
  vertical-align: top;
}
.logo-belt svg {
  height: 1.5rem;
}

#logo-label,
#brooklinen,
#hint,
#sierraclub {
  display: none;
}

/* Portfolio Main Content */
.portfolio {
  padding: 3rem 1rem 0 1rem;
}
.portfolio h1 {
  color: #01579B;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.cs-card {
  border: 1px solid #CCCCCC;
  border-radius: 1rem;
  font-family: "Noto Sans", sans-serif;
  margin: 0 auto 1.5rem auto;
  max-width: 25rem;
  min-width: 16.25rem;
}
.cs-card .card-image {
  background-position: center;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  height: 193px;
  width: 100%;
}
.cs-card #ameritas-thumb {
  background-image: url(../img/ameritas-thumb.jpg);
}
.cs-card #openn-thumb {
  background-image: url(../img/openn-thumb-sm.jpg);
}
.cs-card #abr-thumb {
  background-image: url(../img/abr-thumb-lg.jpg);
}
.cs-card #apfm-thumb {
  background-image: url(../img/apfm-thumb.jpg);
}
.cs-card #motion-thumb {
  background-image: url(../img/motion-thumb-sm.jpg);
}
.cs-card #deverus-thumb {
  background-image: url(../img/deverus-cert-thumb.jpg);
}
.cs-card #leankit-thumb {
  background-image: url(../img/leankit-thumb.jpg);
}
.cs-card .card-info {
  padding: 0.5rem;
}
.cs-card .card-info h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}
.cs-card svg {
  height: 1.5rem;
  padding-left: 1rem;
  vertical-align: top;
}
.cs-card svg path {
  fill: #FFFFFF;
}
.cs-card table {
  width: 100%;
}
.cs-card table th, .cs-card table td {
  padding: 0.5rem;
}
.cs-card table th {
  text-align: left;
}
.cs-card .label {
  color: #01579B;
  font-size: 0.875rem;
  font-weight: 700;
}
.cs-card .label, .cs-card a {
  text-transform: uppercase;
}
.cs-card .fullcase {
  padding: 0.5rem;
}
.cs-card .fullcase.tablet {
  display: none;
}
.cs-card a {
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #AA00FF 50%, #8000BF 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  border-radius: 0.5rem;
  color: #FFF;
  display: block;
  font-weight: 700;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
}
.cs-card a:hover {
  background-position: left;
}

/* Testimonials */
.testimonials {
  padding: 1.5rem 0 3rem 0;
}
.testimonials .slider {
  width: 100%;
  height: 24rem;
  display: flex;
  margin: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.testimonials .slider > div {
  scroll-snap-align: start;
}
.testimonials .slide {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
}
.testimonials .scroll {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  color: #999999;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
.testimonials .scroll svg {
  fill: #999999;
  height: 1.125rem;
  padding-left: 0.5rem;
  vertical-align: text-bottom;
  /* animation */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: left;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.testimonials .quote,
.testimonials blockquote {
  width: 100%;
}
.testimonials blockquote {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-style: italic;
  overflow: hidden;
  padding-bottom: 1.5rem;
  text-align: center;
}
.testimonials .kindhuman {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.testimonials .kindhuman .source-photo {
  background-color: #AA00FF;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
}
.testimonials .kindhuman #cat {
  background-image: url(../img/testimonials-cat.jpg);
}
.testimonials .kindhuman #kai {
  background-image: url(../img/testimonials-kai.jpg);
}
.testimonials .kindhuman #brady {
  background-image: url(../img/testimonials-brady.jpg);
}
.testimonials .kindhuman #anna {
  background-image: url(../img/testimonials-anna.jpg);
}
.testimonials .kindhuman #shawn {
  background-image: url(../img/testimonials-shawn.jpg);
}
.testimonials .kindhuman figcaption span {
  display: block;
  font-weight: 700;
}
.testimonials .more-testimonials {
  padding-top: 1rem;
  text-align: center;
}

/* Writing */
.writing {
  padding-bottom: 4rem;
}
.writing article {
  border: 1px solid #CCCCCC;
  border-radius: 0.5rem;
  margin: 0 auto 1.5rem auto;
  min-width: 16.25rem;
  padding: 1rem;
}
.writing article ul {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
.writing article ul li {
  color: #01579B;
  display: inline;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.writing article ul li.tag::after {
  content: ",";
}
.writing article ul li.tag:last-child::after {
  content: none;
}
.writing article h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.writing article p {
  padding-bottom: 1.5rem;
}
.writing article:last-child {
  margin-bottom: 0;
}

/* Project Styles */
.case-study,
.quick-navigation {
  width: 100%;
}

.project-title .overview,
.tldr,
.case-study .summary,
.image-break .img-container,
.quick-navigation .content {
  max-width: 23rem;
  min-width: 16.25rem;
}

.project-title {
  padding: 2.5rem 1rem 4.5rem 1rem;
  width: 100%;
}
.project-title#ameritas-hero {
  background: url("../img/ameritas-hero.jpg") center;
}
.project-title#deverus-cert-hero {
  background: url("../img/deverus-cert-hero.jpg") center;
}
.project-title#apfm-hero {
  background: url("../img/apfm-hero.jpg") center;
}
.project-title#leankit-hero {
  background: url("../img/leankit-hero.jpg") center;
}
.project-title#openn-hero {
  background: url("../img/openn-hero.jpg") top center;
}
.project-title#abr-hero {
  background: url("../img/abr-hero.jpg") center;
}
.project-title#motion-hero {
  background: url("../img/motion-hero.jpg") center;
}
.project-title#deverus-empv-hero {
  background: url("../img/deverus-empv-hero.jpg") center;
}
.project-title#apfm-hero, .project-title#pebble-hero, .project-title#leankit-hero, .project-title#earnest-hero, .project-title#openn-hero, .project-title#abr-hero, .project-title#motion-hero, .project-title#deverus-cert-hero {
  background-size: cover;
}
.project-title .overview {
  margin: 0 auto;
}
.project-title h1,
.project-title h2 {
  color: #FFFFFF;
}
.project-title h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.project-title h2 {
  font-size: 16px;
  font-size: 1rem;
}

.tldr h2,
.case-study .summary h2,
.quick-navigation .content h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.tldr {
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  border-radius: 0.5rem;
  margin: -2rem 1rem 0 1rem;
  padding: 1rem;
}
.tldr dt {
  color: #01579B;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.tldr dd {
  padding-bottom: 1.5rem;
}
.tldr dd:last-child {
  padding-bottom: 0;
}

.division {
  background-color: #CCCCCC;
  height: 0.25rem;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  width: 2.5rem;
}

.case-study {
  margin: 2.5rem auto;
}
.case-study section {
  clear: both;
  margin-bottom: 1rem;
  margin-top: 4rem;
  overflow: hidden;
}
.case-study .summary {
  margin: 0 1rem;
}
.case-study ul,
.case-study dl {
  line-height: 1.5em;
}
.case-study ul {
  margin-left: 0;
  padding-left: 2rem;
  text-indent: -2rem;
}
.case-study ul li {
  margin-bottom: 1.5rem;
}
.case-study ul.bullets {
  list-style: disc;
  text-indent: 0;
}
.case-study ul.bullets ::marker {
  color: #01579B;
}
.case-study ul.bullets li {
  margin-bottom: 0.5rem;
}
.case-study dl dt {
  font-style: italic;
  font-weight: 400;
  margin: 1.5rem 0 0.5rem 0;
}

.image-break {
  background-color: #F5F5F5;
  padding: 2.5rem 0 1.5rem 0;
  text-align: center;
}
.image-break .img-container {
  margin: 0 1rem;
}
.image-break .img-container img {
  max-width: 100%;
}
.image-break .img-container figcaption {
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 0.5rem;
}

.quick-navigation {
  border-top: 1px solid #CCCCCC;
  padding: 2.5rem 0;
}
.quick-navigation .content {
  margin: 0 1rem;
}
.quick-navigation .content ul li {
  padding-bottom: 1rem;
}
.quick-navigation .content ul li:last-child {
  padding-bottom: 0;
}
.quick-navigation .content ul li a {
  border-bottom: 0;
}

/* Footer */
footer {
  border-top: 1px solid #CCCCCC;
}
footer .contact-info {
  margin: 0 auto;
  max-width: 25rem;
  padding: 4rem 1rem 6rem 1rem;
}
footer .contact-info .contact-contents h1, footer .contact-info .contact-contents h2 {
  color: #222222;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}
footer .contact-info .contact-contents h1 span, footer .contact-info .contact-contents h2 span {
  display: block;
  font-weight: 700;
}
footer .contact-info .contact-contents h2 {
  padding: 1.5rem 0;
}
footer .contact-info ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 4rem;
}
footer .contact-info ul li {
  white-space: nowrap;
}
footer .contact-info svg {
  height: 1.125rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}
footer .copyright {
  padding: 0 1rem 0.5rem 1rem;
}
footer .copyright p {
  color: #999999;
}

/* Media Queries */
@media screen and (max-width: 736px) {
  .top-bar nav {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .tldr {
    margin: -2rem auto 0 auto;
  }
  .case-study .summary,
  .image-break .img-container,
  .quick-navigation .content {
    margin: 0 auto;
  }
}
@media screen and (min-width: 690px) {
  .top-bar {
    padding: 0.5rem 1.5rem;
  }
  .top-bar .home-link a {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .top-bar nav {
    padding: 0.25rem 0;
  }
  .ux-designer {
    gap: 3rem;
    padding: 3rem 0;
  }
  .ux-designer .headshot {
    height: 12.5rem;
    width: 12.5rem;
  }
  .ux-designer .statement h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  .logo-belt {
    padding: 1.75rem 0;
  }
  .logo-belt #logo-label {
    display: inline;
  }
  .logo-belt ul {
    height: 2rem;
  }
  .logo-belt ul li {
    padding: 0 2rem;
  }
  .logo-belt svg {
    height: 2rem;
  }
  .ux-designer,
  .portfolio {
    max-width: 40.125rem;
  }
  .portfolio {
    padding: 4rem 0 0 0;
  }
  .portfolio h1 {
    font-size: 36px;
    font-size: 2.25rem;
    padding-bottom: 3rem;
  }
  .cs-card {
    display: flex;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 0 auto 3rem auto;
    max-width: 45rem;
    min-width: 16.25rem;
    overflow: hidden;
    padding: 0.5rem;
  }
  .cs-card .thumb-link {
    display: inline-block;
    padding: 0.5rem;
  }
  .cs-card .card-image {
    border-radius: 0.5rem;
    flex-grow: 1;
    height: 11.25rem;
    width: 15rem;
  }
  .cs-card .card-info {
    flex-grow: 2;
    vertical-align: top;
  }
  .cs-card .card-info h2 {
    font-size: 1.5rem;
  }
  .cs-card .card-info th {
    padding-top: 0;
  }
  .cs-card .label, .cs-card a {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .cs-card .fullcase {
    padding: 0.5rem 0 0 0;
  }
  .cs-card .fullcase.mobile {
    display: none;
  }
  .cs-card .fullcase.tablet {
    display: block;
  }
  .cs-card a {
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #AA00FF 50%, #8000BF 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    border-radius: 0.5rem;
    color: #FFF;
    display: block;
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
  }
  .cs-card a:hover {
    background-position: left;
  }
  .testimonials {
    padding: 1rem 0 4rem 0;
  }
  .testimonials .slider {
    height: 23rem;
  }
  .testimonials blockquote {
    font-size: 24px;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
  }
  .testimonials .kindhuman .source-photo {
    height: 4rem;
    width: 4rem;
  }
  .testimonials .kindhuman figcaption {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .testimonials .more-testimonials {
    padding-top: 1.5rem;
  }
  .writing-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .writing-wrapper .writing-card {
    margin: 0;
    width: 19.3rem;
  }
  .writing-wrapper .writing-card ul li {
    font-size: 16px;
    font-size: 1rem;
  }
  .writing-wrapper .writing-card h2 {
    font-size: 1.5rem;
  }
  .writing-wrapper .writing-card p,
  .writing-wrapper .writing-card a {
    font-size: 20px;
    font-size: 1.25rem;
  }
  /* Case Study Pages */
  .project-title .overview,
  .tldr,
  .case-study .summary,
  .image-break .img-container,
  .quick-navigation .content,
  footer .contact-info {
    max-width: 40.125rem;
  }
  .project-title {
    padding: 5rem 1rem 7.5rem 1rem;
  }
  .project-title h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  .project-title h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .tldr h2,
  .case-study .summary h2,
  .quick-navigation .content h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .case-study .summary h2 {
    padding-bottom: 1rem;
  }
  .case-study ul,
  .case-study dl {
    font-size: 20.8px;
    font-size: 1.3rem;
  }
  .tldr dt {
    font-size: 16px;
    font-size: 1rem;
  }
  p,
  .tldr dd {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .tldr {
    margin-top: -2.5rem;
    padding: 1.5rem;
  }
  .tldr dl {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .tldr dt {
    vertical-align: text-bottom;
    width: 7.375rem;
  }
  .tldr dd {
    width: 28.125rem;
    padding-bottom: 0;
  }
  .case-study {
    margin: 4rem auto;
  }
  .image-break {
    padding: 4rem 0 3rem 0;
  }
  .image-break .img-container figcaption {
    font-size: 16px;
    font-size: 1rem;
  }
  .quick-navigation {
    font-size: 20px;
    font-size: 1.25rem;
    padding: 4rem 0;
  }
  footer .contact-info {
    padding: 8rem 0;
  }
  footer .contact-info .contact-contents h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  footer .contact-info .contact-contents h1 span, footer .contact-info .contact-contents h2 span {
    display: inline-block;
    margin-right: 0.5rem;
  }
  footer .contact-info .contact-contents h2 {
    font-size: 20px;
    font-size: 1.25rem;
    padding: 3rem 0;
  }
  footer .contact-info ul {
    gap: 1.5rem 3rem;
  }
  footer .contact-info ul li {
    font-size: 20px;
    font-size: 1.25rem;
  }
  footer .contact-info svg {
    height: 1.5rem;
    padding-right: 0.75rem;
  }
  footer .copyright {
    padding: 0 1.5rem 0.5rem 1.5rem;
  }
  footer .copyright p {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 968px) {
  .ux-designer {
    padding: 5rem 0;
  }
  .ux-designer .headshot {
    height: 20rem;
    width: 20rem;
  }
  .ux-designer .statement h1 {
    font-size: 48px;
    font-size: 3rem;
  }
  #hint,
  #sierraclub {
    display: inline-block;
  }
  .ux-designer,
  .portfolio {
    max-width: 57.5rem;
  }
  .portfolio {
    padding: 5rem 0 0 0;
  }
  .portfolio h1 {
    font-size: 40px;
    font-size: 2.5rem;
    padding-bottom: 3rem;
  }
  .cs-card {
    max-width: 57.5rem;
  }
  .cs-card .thumb-link,
  .cs-card .card-info {
    padding: 1rem;
  }
  .cs-card .card-info h2 {
    font-size: 2rem;
  }
  .cs-card .card-info th {
    padding-bottom: 1.5rem;
  }
  .cs-card .card-info .label {
    width: 6rem;
  }
  .testimonials {
    padding: 2rem 6.875rem 5rem 6.875rem;
  }
  .testimonials .slider {
    height: 32rem;
  }
  .testimonials blockquote {
    font-size: 32px;
    font-size: 2rem;
    padding-bottom: 3rem;
  }
  .writing {
    padding-bottom: 5rem;
  }
  .writing-wrapper .writing-card {
    width: 28rem;
  }
  /* Case Study Pages */
  .project-title .overview,
  .case-study .summary,
  .image-break .img-container,
  .quick-navigation .content,
  footer .contact-info {
    max-width: 45.5rem;
  }
  .tldr {
    max-width: 51.5rem;
  }
  .project-title {
    padding: 8rem 1rem 12.5rem 1rem;
  }
  .project-title h1 {
    font-size: 48px;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .project-title h2 {
    font-size: 32px;
    font-size: 2rem;
  }
  .tldr h2,
  .case-study .summary h2,
  .quick-navigation .content h2 {
    font-size: 32px;
    font-size: 2rem;
  }
  .tldr {
    margin-top: -4.5rem;
    padding: 3rem;
  }
  .tldr dd {
    width: 36.5rem;
  }
  .case-study {
    margin: 5rem auto;
  }
  .image-break {
    padding: 5rem 0 4rem 0;
  }
  .quick-navigation {
    padding: 5rem 0;
  }
  footer .contact-info .contact-contents h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  footer .contact-info .contact-contents h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #brooklinen {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */