---
layout: default
---

{% for post in site.posts offset:0 limit:1  %}

<div class="blog-title">
    <div class="post-title">
        <h1 id="fittext1">{{ post.title }}</h1>
    </div>
</div>

<main class="blog">

    <article class="featured-post">

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <blockquote>
            {{ post.excerpt }}
        </blockquote>
        {{ post.content }}
    
    </article>

    {% endfor %}

    <section class="recent-posts">

        <h1>Recent Posts</h1>

        <ul class="post-list">
            {% for post in site.posts offset:0 %}
            <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>

    </section>

</main>

