<header>

    <div class="top-bar">

        <div class="site-title">

            <a href="{{ site.baseurl }}/">
                <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <g>
                    <path fill="#FFFFFF" d="M15.121,97.361c-1.074,0-2.165-0.139-3.251-0.428c-6.73-1.792-10.734-8.699-8.942-15.43l18.497-69.495
                        c1.47-5.522,6.471-9.366,12.186-9.366c0,0,0,0,0,0c5.715,0,10.716,3.845,12.186,9.368l18.49,69.494
                        c1.792,6.73-2.213,13.638-8.943,15.429c-6.73,1.793-13.638-2.214-15.429-8.944l-6.306-23.7L27.299,87.99
                        C25.797,93.635,20.697,97.36,15.121,97.361z"/>
                    <path fill="#FFFFFF" d="M84.879,97.361c-5.576,0-10.676-3.727-12.178-9.37L54.202,18.497c-1.791-6.729,2.212-13.638,8.942-15.429
                        c6.736-1.794,13.639,2.212,15.43,8.942l18.499,69.494c1.791,6.73-2.212,13.639-8.942,15.431
                        C87.044,97.223,85.952,97.361,84.879,97.361z"/>
                </g>
                </svg>

                {{ site.title }}
            </a>
            
        </div>

        <nav class="site-nav">
            
            <ul>
                <li><a href="#" class="selected">Work</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

        </nav>

    </div>

    <div class="ui-designer">

        <p>I'm a <abbr title="User Interface">UI</abbr> designer with a passion for simplicity and usability.</p>

    </div>

</header>
