<header>

    <div class="top-bar">

        <div class="site-title">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <nav class="site-nav">
            
            <ul>
                <li><a href="#" class="selected">Work</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

        </nav>

    </div>

    <div class="ui-designer">

        <p>I'm a <abbr title="User Interface">UI</abbr> designer with a passion for simplicity and usability.</p>

    </div>

</header>
