/**
 * Reset some basic elements
 */

@use 'variables';

/* Basic Forty */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body {
	background: variables.$palette-bg;

	// Prevents animation/transition "flicker" on page load.
	// Automatically added/removed by js/main.js.
		&.is-loading {
			*, *:before, *:after {
				animation: none !important;
				transition: none !important;
			}
		}

}

* {
	box-sizing: border-box;
}