/* Blog */

.blog-title,
.blog {
	width: 90%;
}

.blog-title {
	margin: 5rem auto;
}

.blog {
	margin: 2rem auto 5rem auto;
	overflow: hidden;
}

.featured-post,
.post-content {
	border-bottom: 2px solid $color-highlight;
	@include grid(12);
	margin-bottom: 5rem;
	padding-bottom: 4rem;

	.post-meta {
		display: block;
		font: {
			@include fntz(1.15);
		}
	}

	h2,
	h3 {
		margin-top: 3rem;
	}

	ul,
	ol {
		font: {
			@include fntz(1.25);
		}
		line-height: 1.5em;
		margin-left: 0;
		padding-left: 2rem;
		text-indent: -2rem;

		li {
			margin-bottom: 1.5rem;
		}

		li:before {
			color: lighten($color-text, 50%);
			padding-right: 1rem;
		}

 	}

 	ul {

 		li:before {
			content: "▶";
		}

 	}

 	ol {
 		counter-reset: li;

 		li:before {
 			content: counter(li);
 			counter-increment: li;
 			font: {
 				family: $font-heading;
 			}
 		}

 	}

	img {
		margin: 2rem 0;
	}

}

.recent-posts {
	@include grid(12);

	li {
		font: {
			@include fntz(1.35);
		}
		margin: 1.5rem 0;

		a {
			box-shadow: inset 0 -8px 0 $color-accent;

			&:hover {
				background-color: $color-accent;
			}

		}

	}

}
