/* Footer */

footer {
	border-top: 1px solid $color-border;
	clear: both;
	overflow: hidden;
	padding: 4rem 0;

	.footie {
		margin: 0 auto;
		width: 90%;
	}

	a {
		border-bottom: 1px solid $color-text;

        &:hover {
			border-bottom: 1px solid $color-accent;
            color: $color-accent;
        }

	}

	ul,
	p,
	.back-to-top {
		font: {
			@include fntz(1);
		}
		line-height: 2em;
		padding-bottom: 0.25rem;
	}

	ul {

		li {
			display: inline-block;
			font: {
				family: $font-subhead;
				weight: 400;
			}
			line-height: 2em;
			padding-right: 0.25rem;

			&:after {
				content: " /";
			}

			&:last-child:after {
				content: none;
			}

		}

	}

	p {
		margin-bottom: 0;
	}

	#tx-icon {
		height: 1.5rem;
		padding-bottom: 0.25rem;
		vertical-align: middle;
		width: 1.5rem;
	}

}
