/* Footer */

footer {
	background-color: darken($color-background, 5%);
	clear: both;
	overflow: hidden;
	padding: 4rem 5%;

	a {
		box-shadow: inset 0 -8px 0 $color-accent;

		&:hover {
			background-color: $color-accent;
		}

	}

	ul,
	p,
	.back-to-top {
		font: {
			@include fntz(1);
		}
		line-height: 2em;
		padding-bottom: 0.25rem;
	}

	ul {

		li {
			display: inline-block;
			font: {
				family: $font-subhead;
				weight: 300;
			}
			letter-spacing: 0.05rem;
			line-height: 2em;
			padding-right: 0.25rem;
			text-transform: uppercase;

			&:after {
				content: " /";
			}

			&:last-child:after {
				content: none;
			}

		}

	}

	p {
		margin-bottom: 0;
	}

	#tx-icon {
		height: 1.5rem;
		padding-bottom: 0.25rem;
		vertical-align: middle;
		width: 1.5rem;
	}

}
