/* Footer */

@use 'variables';
@use 'mixins';


footer {
	border-top: 1px solid variables.$color-border;

	.contact-info {
		background-color: variables.$color-background-2;
		margin: 0 auto;
		padding: 4rem 1rem 6rem 1rem;

		.contact-contents {
	
			h1,h2 {
				color: variables.$color-text;
				font: {
					@include mixins.fntz(1.25);
					weight: 400;
				}
				text-align: left;
				text-transform: none;
	
				span {
					display: block;
					font: {
						weight: 700;
					}
				}
	
			}
	
			h2 {
				padding: 1.5rem 0;
			}
	
		}
	
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 1.5rem 4rem;
	
			li {
				white-space: nowrap;
			}
	
		}
	
		svg {
			height: 1.125rem;
			padding-right: .5rem;
			vertical-align: middle;
		}
	
	}

	.copyright {
		padding: 1rem;

		p {
			color: variables.$color-subtle;
		}
	}

}
