/* Global Styles */

@use 'variables';

html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	color: variables.$color-text;
	font: {
		family: variables.$font;
		optical-sizing: auto;
		style: normal;
		variation-settings: "wdth" 100;
	}
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

p {
	padding-bottom: 1rem;

	&:last-child {
		padding-bottom: 0;
	}

}

a {
	border-bottom: 2px solid variables.$color-action;
	color: variables.$color-action;
	font: {
		weight: 600;
	}
	text-decoration: none;

	&:hover {
		color: variables.$color-hover;
	}

}