/* Global Styles */

html {
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: $color-background;
	color: $color-text;
	font: {
		family: $font-text;
	}
	-webkit-font-smoothing: antialiased;
}

.colorbar {
	background-image:
	    linear-gradient(
		    to right,
	        $color-accent, $color-accent-3
	    );
	height: 0.5rem;
}

.home-link {
	margin: 0 auto;
	padding: 2rem 0 1rem 0;
	width: 90%;

	a {
		border-bottom: 1px solid $color-text;
		font: {
			@include fntz(1.35);
			weight: 700;
		}
		line-height: 1.25em;

		&:hover {
			border-bottom: 1px solid $color-accent;
            color: $color-accent;
        }

	}

}

p {
	font: {
		@include fntz(1.15);
	}
	line-height: 1.5em;
	margin-bottom: 1rem;

	a {
		border-bottom: 1px solid $color-text;

        &:hover {
			border-bottom: 1px solid $color-accent;
            color: $color-accent;
        }

	}

}

a {
	color: $color-text;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}

blockquote {
	background-color: lighten($color-background, 5%);
	color: lighten($color-text, 15%);
	display: inline-block;
	font: {
		family: $font-text;
		@include fntz(1.75);
		style: italic;
		weight: 400;
	}
	line-height: 1.4em;
	margin-top: 3rem;
	padding: 1rem;

	a {
		box-shadow: inset 0 -6px 0 $color-accent-1;

        &:hover {
            background-color: $color-accent-1;
        }

	}

}

pre {
	font: {
		@include fntz(1.25);
	}
	margin: 3rem 0;

	code {
		display: block;
		line-height: 1.5em;
		overflow: auto;
		padding: 1rem;
	}

}

code {
	background-color: lighten($color-background, 5%);
	font: {
		family: monospace;
	}
	padding: 0.25rem 0.5rem;
}

em {
	font-style: italic;
}

abbr {
	border-bottom: 1px dotted lighten($color-text, 50%);
	text-decoration: none;
}

img {
	max-width: 100%;
}

::-moz-selection {
  background-color: $color-highlight;
}

::selection {
  background-color: $color-highlight;
}

:focus {
	outline: transparent;
}
