/* Global Styles */

html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $color-background;
	color: $color-text;
	font: {
		family: $font-text;
	}
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.home-link {
	margin: 0 auto;
	max-width: 43.75rem;
	padding: 0.65rem 5%;

	a {
		border-bottom: none;
		color: $color-accent;
		font: {
			@include fntz(.85);
			weight: 800;
		}
		letter-spacing: 0.25em;
		line-height: 1.5em;
		text-transform: uppercase;
	}

}

p {
	line-height: 1.58;
	margin-bottom: 1rem;

	a {
		border-bottom: 2px solid $color-accent;
	}

}

a {
	border-bottom: 3px solid $color-accent;
	color: $color-text;
	text-decoration: none;
	transition: all 0.15s ease-in-out;

	&:hover {
		color: $color-accent;
	}

}

blockquote {
	background-color: lighten($color-background, 5%);
	color: lighten($color-text, 15%);
	display: inline-block;
	font: {
		family: $font-text;
		@include fntz(1.75);
		style: italic;
		weight: 400;
	}
	line-height: 1.58;
	margin-top: 3rem;
	padding: 1rem;

	a {
		box-shadow: inset 0 -6px 0 $color-accent-1;

        &:hover {
            background-color: $color-accent-1;
        }

	}

}

pre {
	font: {
		@include fntz(1.3);
	}
	margin: 3rem 0;

	code {
		display: block;
		line-height: 1.58;
		overflow: auto;
		padding: 1rem;
	}

}

code {
	background-color: lighten($color-background, 5%);
	font: {
		family: monospace;
	}
	padding: 0.25rem 0.5rem;
}

em {
	font-style: italic;
}

abbr {
	border-bottom: 1px dotted lighten($color-text, 50%);
	text-decoration: none;
}

img {
	max-width: 100%;
}

figcaption {
	color: $color-text-1;
	margin-top: 2rem;
	text-style: italic;
}

::-moz-selection {
  background-color: $color-accent-1;
}

::-o-selection {
	background-color: $color-accent-1;
}

::selection {
  background-color: $color-accent-1;
}

:focus {
	outline: transparent;
}
