/* Headings */

h1 {
	font: {
		@include fntz(1.5);
		weight: 700;
	}
	line-height: 1.58em;
}

h2 {
	font: {
		@include fntz(1.3);
		weight: 700;
	}
}

h3 {
	color: lighten($color-text, 25%);
	font: {
		@include fntz(1.3);
	}
}

h1,
h2,
h3 {
	margin-bottom: 1rem;
}
