/* Header */

.top-bar {
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}

.site-title {
	box-sizing: border-box;
	font: {
		family: $font-heading;
	}
	@include grid(6);
	padding: 1rem 0;
}

#logo {
	height: 1rem;
	margin-right: 0.25rem;
	vertical-align: top;
	width: 1rem;
}

.site-nav {
	@include grid(6);

	ul {
		overflow: hidden;
		padding: 1rem 0;
		text-align: right;

		li {
			display: inline-block;

			a {
				padding: 1rem 0.5rem;
			}

		}

	}

}

.selected {
	background-color: $color-highlight;
}

.ui-designer {
	background-color: $color-accent;
	padding: 5rem 0;

	p {
		color: $color-highlight;
		font: {
			@include fntz(3);
			style: italic;
		}
		line-height: 1.25em;
		margin: 0 auto;
		text-shadow: -1px -1px 0 $color-shadow;
		width: 90%;
	}

}

