/* Headings */

h1 {
	font: {
		family: $font-heading;
		@include fntz(2);
	}
	line-height: 1.25em;
}

h2 {
	color: lighten($color-text, 15%);
	font: {
		family: $font-subhead;
		@include fntz(1.75);
		weight: 700;
	}
	text-transform: uppercase;
}

h3 {
	font: {
		@include fntz(1.5);
		style: italic;
	}
}

h1,
h2,
h3 {
	margin-bottom: 1rem;
}
