/* Headings */

@use 'variables';
@use 'mixins';

h1 {
	color: variables.$color-support;
	font: {
		@include mixins.fntz(1.5);
		weight: 900;
	}
}

h2 {
	font: {
		@include mixins.fntz(1.25);
		weight: 700;
	}
}