/* Header */

.top-bar {
	background-color: $color-accent;
	border-bottom: 8px solid $color-highlight;
	overflow: hidden;
}

.top-bar-container {
	margin: 0 auto;
	width: 90%;
}

.site-title {
	box-sizing: border-box;
	font: {
		family: $font-heading;
	}
	@include grid(2);
	padding: 0.7rem 0;
}

.site-name {
	display: none;
	vertical-align: middle;
}

#logo {
	display: inline;
	height: 2.5rem;
	margin-right: 0.25rem;
	vertical-align: middle;
	width: 2.5rem;
}

.site-nav {
	@include grid(10);

	ul {
		overflow: hidden;
		padding: 1.5rem 0;
		text-align: right;

		li {
			display: inline-block;

			a {
				font-weight: 600;
				padding: 1.5rem 1.25rem;

				&:hover {
					background-color: $color-accent-1;
				}

			}

		}

	}

}

.current {
	background-color: $color-highlight;
}
