/* Info */

.alex {
	overflow: hidden;
    margin: 5rem auto 3rem auto;
    width: 90%;

    .title,
    .headshot {
        @include grid(12);
    }

    .title {

    	h1 {
    		font: {
    			@include fntz(2.25);
    			}
    		line-height: 1.25rem;
    		padding-bottom: 0;
            padding-left: 0.1rem;
    		text-shadow: -1px 1px 0 $color-highlight;
    	}

    	p {
    		color: lighten($color-text, 15%);
    		font: {
    			@include fntz(2);
    		}
    	}

    }

    .headshot {
        box-sizing: border-box;
        padding: 0 15% 3rem 15%;

        img {
            border-radius: 50%;
        }

    }

}

.info {
	margin: 2rem auto 5rem auto;
	overflow: hidden;
	width: 90%;

	section {
        border-bottom: 2px solid $color-highlight;
		clear: both;
		margin-top: 3rem;
		overflow: hidden;
        padding-bottom: 2rem;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

	}

	p {
		@include grid(12);
	}

    #condensed {
        font: {
            family: $font-subhead;
        }
    }

    #medium {
        font: {
            family: $font-text;
        }
    }

}

