/* Landing Page Styles */

@use 'variables';
@use 'mixins';

/* Set Max Width */
.ux-designer,
.portfolio {
    margin: 0 auto;
}

/* About Me */
.ux-designer {
    background-image: url(../img/alex-hero.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    padding: 1.5rem;

    .statement {
        flex-basis: 60%;
        height: 7.5rem;
        
        h1 {
            color: variables.$color-text-2;
            font: {
                @include mixins.fntz(1.25);
            }

            .embolden {
                font: {
                    weight: 700;
                }
            }

            .emphasize {
                text-decoration: line-through;
                text-decoration-color: variables.$color-support;
            }

        }

    }

}

/* Logo Belt */
.logo-belt {
    background-color: variables.$color-background-2;
    color: variables.$color-support;
    font: {
        weight: 700;
    }
    padding: .5rem 0;
    text-align: center;
    text-transform: uppercase;

    ul {
        height: 1.5rem;

        li {
            display: inline;
            padding: 0 1.25rem;
        }

    }

    #logo-label {
        line-height: 2rem;
        vertical-align: top;
    }

    svg {
        height: 1.5rem;
    }

}

#logo-label,
#brooklinen,
#hint,
#sierraclub {
    display: none;
}

/* Portfolio Main Content */
.portfolio {
    padding: 0;

    h1 {
        color: variables.$color-support;
        font: {
            @include mixins.fntz(1.5);
            weight: 900;
        }
        padding-bottom: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .worklist {
        border-top: none;
        padding-top: 0;
        width: 100%;

        ul:first-of-type {
            padding-bottom: 4rem;
        }

        article {
            align-items: center;
            display: flex;
            height: 15rem;
            padding: 0 1rem;
            position: relative;

            header {
                z-index: 3;
            }

            .project-link {
                border: 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 4;
            }

            .thumb-desc {

                h2,
                p {
                    color: variables.$color-text-2;
                }

                p {
                    font: {
                        @include mixins.fntz(1.25);
                        weight: 600;
                    }
                    margin-bottom: 0;
                }

            }

            &::before {
                -moz-transition: opacity 0.5s ease;
                -webkit-transition: opacity 0.5s ease;
                -ms-transition: opacity 0.5s ease;
                transition: opacity 0.5s ease;
                bottom: 0;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                opacity: 0.85;
                position: absolute;
                width: 100%;
                z-index: 2;
            }

            &:nth-child(1)::before {
                background-color: variables.$color-project-1;
            }

            &:nth-child(2)::before {
                background-color: variables.$color-project-2;
            }

            &:nth-child(3)::before {
                background-color: variables.$color-project-3;
            }

            &:nth-child(4)::before {
                background-color: variables.$color-project-4;
            }

            &:nth-child(5)::before {
                background-color: variables.$color-project-5;
            }

            &:nth-child(6)::before {
                background-color: variables.$color-project-6;
            }

            &:hover::before {
                opacity: 0;
            }

        }

        #ameritas {
            background: url('../img/ameritas-thumb.jpg') center center;
        }
        
        #deverus1 {
            background: url('../img/deverus-cert-thumb.jpg') center center;
        }

        #deverus2 {
            background: url('../img/deverus-empv-thumb.jpg') center center;
        }

        #apfm {
            background: url('../img/apfm-thumb.jpg') center center;
        }

        #pebble {
            background: url('../img/pebble-thumb.jpg') center center;
        }

        #leankit {
            background: url('../img/leankit-thumb.jpg') center center;
        }

        #earnest {
            background: url('../img/earnest-thumb.jpg') center center;
        }

        #openn {
            background: url('../img/openn-thumb-sm.jpg') center center;
        }

        #abr {
            background: url('../img/abr-thumb-lg.jpg') center center;
        }

        #motion {
            background: url('../img/motion-thumb-sm.jpg') center center;
        }

        #deverus1,
        #deverus2,
        #apfm,
        #pebble,
        #leankit,
        #earnest,
        #openn,
        #abr,
        #motion {
            background-size: cover;
        }

    }

}

.cs-card {
    border: 1px solid variables.$color-border;
    border-radius: 1rem;
    font-family: variables.$font;
    margin: 0 auto 1.5rem auto;
    max-width: 25rem;
    min-width: 16.25rem;
  
    .card-image {
        background-position: center;
        background-size: cover;
        border-radius: 1rem 1rem 0 0;
        height: 193px;
        width: 100%;
    }

    #ameritas-thumb {
        background-image: url(../img/ameritas-thumb.jpg);
    }

    #openn-thumb {
        background-image: url(../img/openn-thumb-sm.jpg);
    }

    #abr-thumb {
        background-image: url(../img/abr-thumb-lg.jpg);
    }

    #apfm-thumb {
        background-image: url(../img/apfm-thumb.jpg);
    }

    #motion-thumb {
        background-image: url(../img/motion-thumb-sm.jpg);
    }

    #deverus-thumb {
        background-image: url(../img/deverus-cert-thumb.jpg);
    }

    #leankit-thumb {
        background-image: url(../img/leankit-thumb.jpg);
    }
  
    .card-info {
        padding: 0.5rem;
        
        h2 {
            font: {
                @include mixins.fntz(1.25);
                weight: 700;
            }
        }
      
    }
  
    svg {
        height: 1.5rem;
        padding-left: 1rem;
        vertical-align: top;
    }
  
    svg path {
        fill: variables.$color-background-1;
    }
  
    table {
        width: 100%;
    
        th, td {
            padding: 0.5rem;
        }
    
        th {
            text-align: left;
        }
      
    }
  
    .label {
        color: variables.$color-support;
        font-size: 0.875rem;
        font-weight: 700;
    }
  
    .label, a {
        text-transform: uppercase;
    }
    
    .fullcase {
        padding: 0.5rem;

        &.tablet {
            display: none;
        }

    }
  
    a {
        /* "to left" / "to right" - affects initial color */
        background: linear-gradient(to left, variables.$color-action 50%, variables.$color-hover 50%) right;
        background-size: 200%;
        transition: .5s ease-out;
    
        border-radius: 0.5rem;
        color: #FFF;
        display: block;
        font-weight: 700;
        padding: 1rem 1.5rem;
        text-align: center;
        text-decoration: none;
    }
  
    a:hover {
        background-position: left;
    }
    
}

/* Testimonials */
.testimonials {
    margin: 0 auto;
    max-width: 45.5rem;
    padding: 3rem 0;
      
    .slider {
        width: 100%;
        height: 24rem;
        display: flex;
        margin: auto;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
      
    .slider > div {
        scroll-snap-align: start;
    }
      
    .slide {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        padding: 0 1rem;
        width: 100%;
    }

    .scroll {
        border-top: 1px solid variables.$color-border;
        border-bottom: 1px solid variables.$color-border;
        color: variables.$color-subtle;
        font: {
            @include mixins.fntz(0.875);
            weight: 600;
        }
        padding: .5rem;
        text-align: center;
        text-transform: uppercase;

        svg {
            fill: variables.$color-subtle;
            height: 1.125rem;
            padding-left: .5rem;
            vertical-align: text-bottom;

            /* animation */
            animation-duration: 2s;
            animation-iteration-count: infinite;
            transform-origin: left;
            animation-name: bounce;
            animation-timing-function: ease;
        }

        @keyframes bounce {
            0%   { transform: translateX(0); }
            30%  { transform: translateX(20px); }
            50%  { transform: translateX(0); }
            100% { transform: translateX(0); }
        }

    }

    .quote,
    blockquote {
        width: 100%;
    }

    blockquote {
        font: {
            family: variables.$font;
            @include mixins.fntz(1.25);
            style: italic;
        }
        overflow: hidden;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .kindhuman {
        display: flex;
        gap: 1rem;
        justify-content: center;

        .source-photo {
            background-color: variables.$color-action;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            flex-shrink: 0;
            height: 3rem;
            width: 3rem;
        }

        #cat {
            background-image: url(../img/testimonials-cat.jpg);
        }

        #kai {
            background-image: url(../img/testimonials-kai.jpg);
        }

        #brady {
            background-image: url(../img/testimonials-brady.jpg);
        }

        #anna {
            background-image: url(../img/testimonials-anna.jpg);
        }

        #shawn {
            background-image: url(../img/testimonials-shawn.jpg);
        }

        figcaption {

            span {
                display: block;
                font: {
                    weight: 700;
                }
            }

        }

    }

    .more-testimonials {
        padding-top: 1rem;
        text-align: center;
    }

}

/* Writing */
.writing {
    padding-bottom: 4rem;

    article {
        border: 1px solid variables.$color-border;
        border-radius: 0.5rem;
        margin: 0 auto 1.5rem auto;
        min-width: 16.25rem;
        padding: 1rem;
        
        ul {
            border-bottom: 1px solid variables.$color-border;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem;
          
            li {
                color: variables.$color-support;
                display: inline;
                
                font: {
                    @include mixins.fntz(.875);
                }
                
                text-transform: uppercase;
                
                &.tag::after {
                    content: ",";
                }
                
                &.tag:last-child::after {
                    content: none;
                }
            
            }
          
        }
        
        h2 {

            font: {
                @include mixins.fntz(1.25);
                weight: 700;
            }
            padding-bottom: 1rem;
          
        }
        
        p {
            padding-bottom: 1.5rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
        
    }

}