/* Media Queries */

@use 'variables';
@use 'libs';
@use 'mixins';


// XLARGE
@media screen and (max-width: 1680px) {

	body,
    input,
    select,
    textarea {
		font-size: 14pt;
	}

	.spotlights {

		> section {
			> .image {
				width: 40%;
			}

			> .content {
				width: 60%;
			}
		}

	}

	#header {

        nav {
            a {
                &[href="#menu"] {
                    padding-right: 3.75em !important;

                    &:last-child {
                        padding-right: 4.25em !important;
                    }
                }
            }
        }

	}

}

// LARGE
@media screen and (max-width: 1280px) {

	body,
    input,
    select,
    textarea {
		font-size: 12pt;
	}

	.spotlights {

		> section {
			> .image {
				width: 45%;
			}

			> .content {
				width: 55%;
			}
		}

	}

	.tiles {

		article {
				padding: 4em 3em;
				height: 30vh;
				max-height: 30em;
				min-height: 20em;
		}
	}

	#banner {
		background-attachment: scroll;
	}

	#header {

        nav {
            a {
                &[href="#menu"] {
                    padding-right: 4em !important;

                    &:last-child {
                        padding-right: 4.5em !important;
                    }
                }
            }
        }

	}

}

// MEDIUM
@media screen and (max-width: 980px) {

	#brooklinen {
        display: none;
    }

	.spotlights {

		> section {
			display: block;

			> .image {
				width: 100%;
			}

			> .content {
				padding: 4em 3em;
				width: 100%;
			}
		}

	}

	.tiles {

		article {
			width: 50% !important;
		}
	}

}

// SMALL
@media screen and (max-width: 736px) {

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	.image {

		&.main {
			margin: (variables.$size-element-margin * 0.75) 0;
		}

	}

	ul {

		&.icons {
			li {
				padding: 0 0.75em 0 0;
			}
		}

	}

	dl {

		dt {
			flex-basis: 100%;
		}

		dd {
			margin-left: 0;
		}

		header {

			&.major {
				> p {
					br {
						display: none;
					}
				}
			}

		}

	}

    #sierraclub {
        display: none;
    }

	.spotlights {

		> section {
			> .content {
				padding: 3em 1.5em;
			}
		}

	}

	.tiles {

		article {
			padding: 3em 1.5em;
			height: 16em;
			max-height: none;
			min-height: 0;

			h3 {
				font-size: 1.5em;
			}
		}
	}

	#main {

		section {

			> .inner {
				width: calc(100% - 3em);
			}

		}

	}

	#banner {
		padding: 3em 0;
        height: auto;
        margin-bottom: -2.75em;
        max-height: none;
        min-height: 0;
        top: -2.75em;

        h1 {
            font-size: 2em;
        }

        > .inner {
			width: calc(100% - 3em);

            .content {
                display: block;

                > * {
                    margin-left: 0;
                    margin-bottom: variables.$size-element-margin;
                }
            }
        }

        &.major {
            height: auto;
            min-height: 0;
            max-height: none;
        }
	}

	#header {
        height: 2.75em;
        line-height: 2.75em;

        .logo {
            padding: 0 1em;
        }

        nav {
            a {
                padding: 0 0.5em;

                &:last-child {
                    padding-right: 1em;
                }

                &[href="#menu"] {
                    padding-right: 3.25em !important;

                    &:before, &:after {
                        right: 0.75em;
                    }

                    &:last-child {
                        padding-right: 4em !important;

                        &:before, &:after {
                            right: 1.5em;
                        }
                    }
                }
            }
        }
	}
	
	#footer {

		> .inner {
			width: calc(100% - 3em);
		}

	}

	#wrapper {
		padding-top: 2.75em;
	}

}

// XSMALL
@media screen and (max-width: 480px) {

	.tiles {

		article {
			height: 20em;
			width: 100% !important;
		}
	}

	#banner {
		padding: 4em 0;

        > .inner {
            .content {
                p {
                    br {
                        display: none;
                    }
                }
            }
        }

        &.major {
            padding: 6em 0;
        }
	}

	#hint {
        display: none;
    }

	#footer {

		.copyright {
            li {
                display: block;
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
                line-height: inherit;
            }
        }

	}

	#header {

        .logo {
            span {
                display: none;
            }
        }

        nav {
            a {
                &[href="#menu"] {
                    overflow: hidden;
                    padding-right: 0 !important;
                    text-indent: 5em;
                    white-space: nowrap;
                    width: 5em;

                    &:before, &:after {
                        right: 0;
                        width: inherit;
                    }

                    &:last-child {
                        &:before, &:after {
                            width: 4em;
                            right: 0;
                        }
                    }
                }
            }
        }

	}

}

// XXSMALL
@media screen and (max-width: 360px) {

    body,
    input,
    select,
    textarea {
		font-size: 11pt;
	}

}

@media screen and (max-width: 320px) {

    html,
    body {
        min-width: 320px;
    }

}