/* Media Queries */

@media screen and (min-width: 600px) {

	.top-bar {
		font: {
			@include fntz(1.25);
		}
	}

	.site-title {
		@include grid(6);
		padding: 1.05rem 0;
	}

	.site-name {
		display: inline;
	}

	.site-nav {
		@include grid(6);

		ul {
			padding: 

			li a {
				padding: 1.5rem 1.25rem;
			}

		}

	}

	.ui-designer .statement {
		padding-left: 15%;
	}

	.project {

		.project-container {
			width: 70%;
		}

		.sample {
			@include grid(8);

			&.mobile {
				text-align: left;

				img {
					max-height: 100%;
				}

			}

		}

	}

	.alex {
		height: 25rem;
	}

	.project-title,
	.process,
	.info,
	.blog-title,
	.blog {
		width: 70%;
	}

	footer {

		ul,
		p {
			font: {
				@include fntz(1.25);
			}
		}

	}

	// Splash Styling

	.splash {
		@include grid(8);
		padding: 5rem 0 2rem 15%;

		ul,
		p {
			font: {
				@include fntz(2);
			}
		}

		ul {

			li {
				font: {
					@include fntz(1.5);
				}

			}

		}

	}
	
}

@media screen and (min-width: 1024px) {

	.ui-designer .statement {
		padding-left: 5%;
	}

	.project {

		.project-container {
			width: 90%;
		}

		.details {
			@include grid (6);

			&.even {
				box-sizing: border-box;
				float: right;
				padding-left: 5%;
			}

		}

		.sample {
			@include grid(6);
			margin-top: 0;
		}

	}

	.process {

		.summary,
		.image {
			@include grid(6);
		}

		.summary {
			margin-bottom: 0;
		}

		.summary.even {
				box-sizing: border-box;
				float: right;
				padding-left: 5%;
			}

	}

	.title-small {
		display: none;
	}

	.alex {
		height: 30rem;

	    .title {
	    	display: block;
	    	padding: 15rem 0 0 5%;
	    }

	}

	.project-title,
	.process,
	.info,
	.blog-title,
	.blog {
		width: 90%;
	}

	.info {

		p {
			@include grid(6);
		}

	}

	.blog {

		.featured-post,
		.post-content {
			border-bottom: 0;
			@include grid(8);
			padding-bottom: 0;
		}

		.recent-posts {
			@include grid(4);
			margin-top: 4rem;
		}

	}

	footer {

		ul,
		p {
			width: 50%;
		}

		ul {
			float: left;
		}

		p {
			float: right;
			text-align: right;
		}

	}
	
}

@media screen and (min-width: 1400px) {

	.ui-designer .statement {
		padding-left: 15%;
	}

	.project {

		.project-container {
			width: 70%;
		}

	}

	.alex {
		height: 35rem;

	    .title {
	    	padding: 15rem 0 0 15%;
	    }

	}

	.project-title,
	.process,
	.info,
	.blog-title,
	.blog {
		width: 70%;
	}
	
}

