/* Media Queries */

@media screen and (min-width: 600px) {

	.top-bar {
		font: {
			@include fntz(1.25);
		}
	}

	.site-title {
		@include grid(6);
		padding: 1.05rem 0;
	}

	.site-name {
		display: inline;
	}

	.site-nav {
		@include grid(6);

		ul {
			padding: 

			li a {
				padding: 1.5rem 1.25rem;
			}

		}

	}

	.ui-designer {
		@include grid(8);
		padding: 5rem 0 2rem 15%;
	}

	.project {

		.project-container {
			width: 70%;
		}

		.sample {
			@include grid(6);
		}

	}

	.info {
		width: 70%;
	}

	footer {

		ul,
		p {
			font: {
				@include fntz(1.25);
			}
		}

	}

	// Splash Styling

	.splash {
		@include grid(8);
		padding: 5rem 0 2rem 15%;

		ul,
		p {
			font: {
				@include fntz(2);
			}
		}

		ul {

			li {
				font: {
					@include fntz(1.5);
				}

			}

		}

	}
	
}

@media screen and (min-width: 1024px) {

	.project {

		.project-container {
			width: 90%;
		}

		.details {
			@include grid (6);
		}

		.sample {
			@include grid(3);
		}

	}

	.info {
		width: 90%;

		p {
			@include grid(6);
		}

	}
	
}

@media screen and (min-width: 1400px) {

	.project {

		.project-container {
			width: 70%;
		}

		.details {
			@include grid (4);

			&.even {
				float: right;
			}

		}

		.sample {
			@include grid(4);
		}

	}

	.info {
		width: 70%;
	}
	
}

