/* Project Styles */

.project-title,
.process,
.case-study,
.quick-navigation {
	padding: 0 5%;
}

.project-title {
	margin: 0 auto;
	padding: 4rem 5%;

	&#deverus-cert-hero {
		background: url('../img/deverus-cert-hero.jpg') center;
	}

	&#deverus-empv-hero {
		background: url('../img/deverus-empv-hero.jpg') center;
	}

	&#apfm-hero {
		background: url('../img/apfm-hero.jpg') center;
	}

	&#pebble-hero {
		background: url('../img/pebble-hero.jpg') center;
	}

	&#leankit-hero {
		background: url('../img/leankit-hero.jpg') center;
	}

	&#earnest-hero {
		background: url('../img/earnest-hero.jpg') center;
	}

	&#openn-hero {
		background: url('../img/openn-hero.jpg') top center;
	}

	&#openn-hero {
		background: url('../img/abr-hero.jpg') center;
	}

	&#apfm-hero,
	&#pebble-hero,
	&#leankit-hero,
	&#earnest-hero,
	&#openn-hero {
		background-size: cover;
	}

	.overview {
		margin: 0 auto;
		max-width: 43.75rem;
		width: 100%;
	}

	h1,
	h2,
	p {
		color: $color-text-2;
	}

	h1 {
		margin-bottom: 0.5rem;
	}

	h2 {
		margin-bottom: 2rem;
	}

	p {
		text-transform: uppercase;
	}

	.division {
		margin-bottom: 2rem;
		width: 50px;
	}

	.update,
	.timeframe {
		font: {
			weight: 400;
		}
		text-transform: uppercase;
	}

}

#deverus-cert-hero .division {
	border-bottom: 5px solid $color-project-1;
}

#deverus-empv-hero .division {
	border-bottom: 5px solid $color-project-2;
}

#apfm-hero .division {
	border-bottom: 5px solid $color-project-3;
}

#pebble-hero .division {
	border-bottom: 5px solid $color-project-4;
}

#leankit-hero .division {
	border-bottom: 5px solid $color-project-5;
}

#earnest-hero .division {
	border-bottom: 5px solid $color-project-6;
}

#openn-hero .division {
	border-bottom: 5px solid $color-project-5;
}

#abr-hero .division {
	border-bottom: 5px solid $color-project-7;
}

.process {
	margin: 0 auto 4rem auto;

	section {
		clear: both;
		overflow: hidden;
		margin-top: 4rem;
	}

	.summary,
	.image {
		@include grid(12);
	}

	.summary {
		margin-bottom: 2rem;
	}

	ul,
	dl {
		font: {
			@include fntz(1.3);
		}
		line-height: 1.5em;
	}

	ul {
		margin-left: 0;
		padding-left: 2rem;
		text-indent: -2rem;

		li {
			margin-bottom: 1.5rem;
		}

		li:before {
			color: lighten($color-text, 50%);
			content: "»";
			padding-right: 1rem;
		}

 	}

 	dl {

 		dt {
 			font: {
				style: italic;
 				weight: 400;
 			}
 			margin: 1.5rem 0 0.5rem 0;
 		}

 	}

 	.persona-photo {
 		border-radius: 50%;
 		margin-right: 1rem;
 		vertical-align: middle;
 		width: 3rem;
 	}

	.revision {
		border-top: 1px solid $color-border;
		padding-top: 4rem;
	}

}

.case-study {
	margin: 0 auto;
	max-width: 43.75rem;

	section {
		clear: both;
		margin-bottom: 1rem;
		margin-top: 4rem;
		overflow: hidden;
	}

	.summary,
	.image {
		@include grid(12);
	}

	.summary {
		margin-bottom: 2rem;

		h2 {
			font: {
				weight: 800;
			}

			&.extraroom {
				margin-top: 4rem;
			}

		}

	}

	ul,
	dl {
		font: {
			@include fntz(1.3);
		}
		line-height: 1.5em;
	}

	ul {
		margin-left: 0;
		padding-left: 2rem;
		text-indent: -2rem;

		li {
			margin-bottom: 1.5rem;
		}

		li:before {
			color: lighten($color-text, 50%);
			content: "»";
			padding-right: 1.4rem;
		}

 	}

 	dl {

 		dt {
 			font: {
				style: italic;
 				weight: 400;
 			}
 			margin: 1.5rem 0 0.5rem 0;
 		}

 	}

 	.persona-photo {
 		border-radius: 50%;
 		margin-right: 1rem;
 		vertical-align: middle;
 		width: 3rem;
 	}

	.revision {
		border-top: 1px solid $color-border;
		padding-top: 4rem;
	}

}

.image-break {
	padding: 4rem 0 2.5rem 0;
	text-align: center;

	.img-container {
		margin: 0 5%;
		max-width: 43.75rem;
	}

	&.deverus-cert {
		background-color: $color-project-1;
	}

	&.deverus-empv {
		background-color: $color-project-2;
	}

	&.apfm {
		background-color: $color-project-3;
	}

	&.pebble {
		background-color: $color-project-4;
	}

	&.leankit {
		background-color: $color-project-5;
	}

	&.earnest {
		background-color: $color-project-6;
	}

	&.openn {
		background-color: $color-project-5;
	}

	&.abr {
		background-color: $color-project-7;
	}

}

.quick-navigation {
	border-top: 1px solid $color-border;
	margin: 0 auto;
	max-width: 43.75rem;
	overflow: hidden;
	padding: 4rem 5%;

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

	a {
		font: {
			weight: 600;
		}
		line-height: 1.3;
	}

}
