/* Project Styles */

@use 'variables';
@use 'mixins';

.case-study,
.quick-navigation {
	width: 100%;
}

.project-title .overview,
.tldr,
.case-study .summary,
.image-break .img-container,
.quick-navigation .content,
footer .contact-info {
	max-width: 23rem;
	min-width: 16.25rem;
}

.project-title {
	padding: 2.5rem 1rem 4.5rem 1rem;
	width: 100%;

	&#ameritas-hero {
		background: url('../img/ameritas-hero.jpg') center;
	}

	&#deverus-cert-hero {
		background: url('../img/deverus-cert-hero.jpg') center;
	}

	&#apfm-hero {
		background: url('../img/apfm-hero.jpg') center;
	}

	&#leankit-hero {
		background: url('../img/leankit-hero.jpg') center;
	}

	&#openn-hero {
		background: url('../img/openn-hero.jpg') top center;
	}

	&#abr-hero {
		background: url('../img/abr-hero.jpg') center;
	}

	&#motion-hero {
		background: url('../img/motion-hero.jpg') center;
	}

	&#deverus-empv-hero {
		background: url('../img/deverus-empv-hero.jpg') center;
	}

	&#apfm-hero,
	&#pebble-hero,
	&#leankit-hero,
	&#earnest-hero,
	&#openn-hero,
	&#abr-hero,
	&#motion-hero,
	&#deverus-cert-hero {
		background-size: cover;
	}

	.overview {
		margin: 0 auto;
	}

	h1,
	h2 {
		color: variables.$color-background-1;
	}

	h1 {
		font: {
			@include mixins.fntz(1.5);
			weight: 900;
		}
		margin-bottom: 1rem;
	}

	h2 {
		font: {
			@include mixins.fntz(1);
		}
	}

}

.tldr,
.case-study .summary,
.quick-navigation .content {

	h2 {
		font: {
			@include mixins.fntz(1.25);
			weight: 700;
		}
		padding-bottom: .5rem;
	}

}

.tldr {
	background-color: variables.$color-background-2;
	border: 1px solid variables.$color-border;
	border-radius: .5rem;
	margin: -2rem 1rem 0 1rem;
	padding: 1rem;

	dt {
		color: variables.$color-support;
		font: {
			@include mixins.fntz(.875);
			weight: 700;
		}
		text-transform: uppercase;
	}

	dd {
		padding-bottom: 1.5rem;

		&:last-child {
			padding-bottom: 0;
		}

	}

}

.division {
	background-color: variables.$color-border;
	height: .25rem;
	margin: .5rem 0 1rem 0;
	overflow: hidden;
	width: 2.5rem;

/*

	&.one {
		background-color: variables.$color-project-1;
	}

	&.two {
		background-color: variables.$color-project-2;
	}

	&.three {
		background-color: variables.$color-project-3;
	}

	&.four {
		background-color: variables.$color-project-4;
	}

	&.five {
		background-color: variables.$color-project-5;
	}

	&.six {
		background-color: variables.$color-project-6;
	}

*/

}

.case-study {
	margin: 2.5rem auto;

	section {
		clear: both;
		margin-bottom: 1rem;
		margin-top: 4rem;
		overflow: hidden;
	}

	.summary {
		margin: 0 1rem;
	}

	ul,
	dl {
		line-height: 1.5em;
	}

	ul {
		margin-left: 0;
		padding-left: 2rem;
		text-indent: -2rem;

		li {
			margin-bottom: 1.5rem;
		}

		&.bullets {
			list-style: disc;
			text-indent: 0;
		
			::marker {
				color: variables.$color-support;
			}

			li {
				margin-bottom: .5rem;
			}
		
		}

 	}

 	dl {

 		dt {
 			font: {
				style: italic;
 				weight: 400;
 			}
 			margin: 1.5rem 0 0.5rem 0;
 		}

 	}

}

.image-break {
	background-color: variables.$color-background-2;
	padding: 2.5rem 0 1.5rem 0;
	text-align: center;

	.img-container {
		margin: 0 1rem;

		img {
			max-width: 100%;
		}

		figcaption {
			font: {
				@include mixins.fntz(.875);
			}
			padding-top: .5rem;
		}

	}

}

.quick-navigation {
	border-top: 1px solid variables.$color-border;
	padding: 2.5rem 0;

	.content {
		margin: 0 1rem;

		ul {

			li {
				padding-bottom: 1rem;

				&:last-child {
					padding-bottom: 0;
				}

				a {
					border-bottom: 0;
				}

			}

		}

	}

}
