/* Resume */

.resume {
    margin: 5rem auto;
    width: 90%;

    .resume-title {
        margin-bottom: 3rem;

        h1 {
            color: $color-accent;
            font: {
                @include fntz(2.5);
            }
            margin-bottom: 0;
        }

        p {
            font: {
                @include fntz(1.5);
                style: italic;
                weight: 600;
            }
        }

    }

    #contact-info {
        margin-bottom: 5rem;
    }

    h2 {
        color: $color-text;
        font: {
            family: $font-heading;
        }
        margin-bottom: 2rem;
        text-transform: capitalize;
    }

    .item-name {
        font: {
            family: $font-text;
            @include fntz(1.25);
            weight: 600;
        }
    }

    .timeframe {
        font: {
            style: italic;
        }
    }

    ul {
        margin-bottom: 2rem;

        li {
            font: {
                @include fntz(1.15);
            }
            line-height: 1.5;
        }

        .bulletpoint:before {
            color: lighten($color-text, 50%);
            content: "»";
			padding-right: 1rem;
        }

        &:last-child {
            margin-bottom: 5rem;
        }

    }

}
