/* Resume */

.resume {
    margin: 0 auto 4rem auto;
    overflow: hidden;
    width: 90%;
    max-width: 43.75rem;

    .resume-title {
        margin-bottom: 2rem;

        h1 {
            margin-bottom: 0;
        }

        p {
            font: {
                @include fntz(1.15);
                style: italic;
                weight: 400;
            }

            &.resume-statement {
                font: {
                    style: normal;
                }
            }

        }

    }

    .resume-download {
        margin-bottom: 3rem;

        a {
    		border-bottom: 1px solid $color-text;
            line-height: 1.95;

            &:hover {
    			border-bottom: 1px solid $color-accent;
                color: $color-accent;
            }

    	}

    }

    .column-left {
        clear: both;
    }

    #contact-info {
        margin-bottom: 5rem;
    }

    h2 {
        border-bottom: 1px solid $color-border;
        color: $color-text;
        font: {
            family: $font-heading;
        }
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        text-transform: capitalize;
    }

    .item-name {
        font: {
            weight: 700;
        }

        .company {
            font: {
                weight: 400;
            }
        }

    }

    .timeframe {
        font: {
            style: italic;
        }
    }

    ul {
        margin-bottom: 2rem;

        li {
            font: {
                @include fntz(1.15);
            }
            line-height: 1.5;

            &.bulletpoint {
              margin-left: 1.5rem;
              padding-top: 0.75rem;
            }

        }

        &.tools .bulletpoint,
        &.languages .bulletpoint,
        &.methods .bulletpoint {
            padding-top: 0;
        }

        .bulletpoint:before {
          color: lighten($color-text, 50%);
          content: "»";
          margin-left: -1.5rem;
          padding-right: 0.95rem;
        }

        &:last-child {
            margin-bottom: 5rem;
        }

    }

}
