/* Resume */

.resume {
    margin: 0 auto;
    width: 90%;

    .resume-title {

        h1 {
            color: $color-accent;
            font: {
                @include fntz(2.5);
            }
        }

    }

    h2 {
        color: $color-text;
        font: {
            family: $font-heading;
        }
        text-transform: capitalize;
    }

    .item-name {
        font: {
            family: $font-text;
            @include fntz(1.25);
            weight: 600;
        }
    }

    .timeframe {
        font: {
            style: italic;
        }
    }

    ul {

        li {
            font: {
                @include fntz(1.15);
            }
            line-height: 1.5;
        }

    }

}
