/* Variables */

// Color

$color-text: #222222;
$color-subhead: #999999;
$color-background: #FFFFFF;
$color-border: #EEEEEE;
$color-accent: #54BCEB;
$color-accent-1: lighten(#54BCEB, 20%);
$color-accent-2: darken(#54BCEB, 30%);
$color-accent-3: #41CDD4;
$color-highlight: #FFFFFF;
$color-shadow: rgba(0, 0, 0, 0.25);

// New Colors

$color-text-1: #ffffff;
$color-text-2: #ffffff;
$color-bg-1: #222222;
$color-project-1: #8ea9e8;
$color-project-2: #89E2F5;
$color-project-3: lighten(#1073a5, 15%);
$color-project-4: lighten(#f85050, 15%);
$color-project-5: lighten(#faa331, 15%);
$color-project-6: lighten(#3BBBB4, 15%);


// Typography

$font-heading: 'Open Sans', sans-serif;
$font-subhead: 'Open Sans', sans-serif;
$font-text: 'Open Sans', sans-serif;
