/* Work */

.ui-designer {
	background-color: $color-background;
	padding: 5rem 5%;

	p {
		background-color: darken($color-background, 15%);
		box-shadow: 0.5rem 0 0 darken($color-background, 15%), -0.5rem 0 0 darken($color-background, 15%);
		color: $color-highlight;
		display: inline;
		font: {
			@include fntz(3);
		}
		line-height: 1.25em;
		text-shadow: -1px -1px 0 $color-shadow;
		width: 90%;
	}

}

.work {
	padding: 2rem 0 4rem 0;
}

.project {
	padding: 2rem 0;

	h1,
	p {
		margin: 0 auto;
		width: 90%;
	}

	&:nth-child(odd) {
		background-color: lighten($color-background, 5%);
	}

}

