/* Work */

.work {
	padding: 2rem 0 4rem 0;
}

.project {
	padding: 2rem 0;

	h1,
	p {
		margin: 0 auto;
		width: 90%;
	}

	&:nth-child(odd) {
		background-color: lighten($color-background, 5%);
	}

}

