/* Work */

.ui-designer {
	background-color: $color-background-2;
	display: block;
	overflow: hidden;

	.statement {
		box-sizing: border-box;
		@include grid(11);
		padding: 5rem 0 4rem 5%;

		h1 {
			color: $color-text;
			font: {
				family: $font-text;
				@include fntz(1.65);
				weight: 700;
			}
			line-height: 1.25em;
			padding-bottom: 0;
		}

	}

}

.work {
	clear: both;
	padding-bottom: 4rem;
}

.project {
	overflow: hidden;
	padding: 2rem 0;

	.project-container {
		margin: 0 auto;
		width: 90%;
	}

	&:nth-child(odd) {
		background-color: lighten($color-background, 5%);
	}

	.details,
	.sample {
		@include grid(12);

		h2 {
			margin-bottom: 0.5rem;
		}

	}

	.sample {
		margin-bottom: 1rem;

		&.mobile {
			text-align: center;

			img {
				max-height: 20rem;
			}

		}

	}

	.more-link {
		margin-top: 2rem;

		a {
			border: 2px solid $color-text;
			box-shadow: none;
			font: {
				family: $font-subhead;
			}
			padding: 0.5rem 1rem;
			text-transform: uppercase;
		}

	}

}
